<div class="home-page-title">
  <h1>Video Tutorials</h1>
  <hr>
</div>

<%= render "partials/tutorials" %>

<aside class="categories col md-col-4">
  <h1>Filters:</h1>
  <hr>
  <div class="tags">
    <% tag_cloud Tutorial.tag_counts, %w[.m] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: "btn btn-primary mb1 bg-teal"  %>
    <% end %>
  </div>
  <hr>
  <%= link_to "Reset", root_path, class: "btn btn-outline mb1 aqua"  %>
</aside>
