<p>Hello <%= @invitee_name %>,

<%= @sender_name %> has invited you to join Brownfield of Dreams. You can create an account <%= link_to 'here', "https://ali-linda-brownfield-of-dreams.herokuapp.com/signup" %>.

</p>
